<%= form_for @tweet, url: {action: :update} do |t| %>
    <p>
        <%= t.label :message, 'さっき何してた？' %>
            <%= t.text_field :message %>
    </p>
    <%= t.submit '歴史壊変' %>
        <% end %>
