<%= form_for @tweet, url: {action: :create}, :html => {:class => 'form'} do |t| %>
    <p>
        <%= t.text_field :message ,:placeholder => "今何してる？"%>
    </p>
    <%= t.submit 'ツイート' %>
        <% end %>
