<% content_for :header do %>
    <%= render :partial => "buttom", :locals => { title: "ツイート",url: new_tweet_path} %>
        <% end %>

            <div id="slide">
                <ul>
                    <% @tweets.reverse_each do |tweet| %>
                        <li>
                            <strong><%= tweet.message %></strong></br>
                            <%= time_ago_in_words(tweet.tdate) %>
                                <%= "前" %>
                                    <%= link_to 'このツイート情報を表示', "/tweets/#{tweet.id}", :style=>"color:#778899;" %>
                        </li>
                        <% end %>
                </ul>
            </div>