<% content_for :header do %>
    <%= render :partial => "buttom", :locals => { title: "戻る",url: root_path} %>
        <% end %>

            <% if @tweet.errors.present? %>
                <h1>エラーが有るぞくそが</h1>
                <ul>
                    <% @tweet.errors.full_messages.each do |msg| %>
                        <li>
                            <%= msg %>
                        </li>
                        <% end %>
                </ul>
                <% end %>

                    <%= render :partial => "newform" %>
