<% content_for :header do %>
    <%= render :partial => "buttom", :locals => { title: "Go back to Tire1",url: root_path} %>
        <% end %>

            <div id="show">
                <ul>
                    <h4>
                        <%= @tweet.message %>
                    </h4>
                    <%= time_ago_in_words(@tweet.tdate) %><%= "前" %>
                </ul>
                <%= link_to 'このツイートを編集', "/tweets/#{@tweet.id}/edit" %>
                    <%= link_to 'このツイートを削除', "/tweets/#{@tweet.id}", method: :delete %>
                <p></p>
            </div>
