/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*============================================================================*/

/*基本*/

html,
body {
    text-align: center;
    background: #e6ecf0;
    height: 100%;
    width: 100%;
}


/*============================================================================*/

/*ヘッダー部分*/

body {
    text-align: center;
    background: #e6ecf0;
}

#header {
    min-width: 870px;
    background: #ffffff;
    text-align: left;
    height: 40px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

p a {
    position: absolute;
    left: 50%;
    top: 5px;
}


.square_btn {
    display: inline-block;
    padding: 0.1em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

.square_btn:hover {
    background: #67c5ff;
    color: white;
}

nav ul li {
    position: absolute;
    display: inline-block;
    top: 5px;
    margin-left: 15%;
}

/*============================================================================*/

/*============================================================================*/

/*全体コンテナ・3カラムラッパ・boxB用スライドデザイン・フォーム・醤油*/

#container {
    height: 100%;
    width: 880px;
    min-width: 40%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    height: 100%;
    min-width: 100px;
    float: left;
}

#slide ul li {
    word-wrap: break-word;
    list-style: none;
    margin-right: 35px;
    margin-bottom: 4px;
    padding: 8px 4px 8px 4px;
    background: #ffffff;
}

input[type="text"] {
    width: 300px;
    height: 40px;
}

form {
    height: 90%;
    background-image: url(/images/troll.png);
    margin-top: 15%;
    outline: none;
    -webkit-transition: all .3s;
    transition: all .3s;
}

form:focus {
    box-shadow: 0 0 7px #1abc9c;
    border: 1px solid #1abc9c;
}

#show {
    margin-top: 50px;
}

#show ul {
    word-wrap: break-word;
    width: 440px;
}

#show p {
    background-image: url(/images/cry.png);
    height: 740px;
    width: 700px;
}

/*============================================================================*/

/*============================================================================*/

/*各ボックス*/

#boxB {
    background: #dbf1ff;
    height: 100%;
    width: 520px;
    float: right;
}

#boxC {
    height: 90px;
    width: 180px;
    float: right;
    background: #ffffff;
}

#boxD {
    width: 180px;
    height: 200px;
    float: left;
    background: #ffffff;
}

#boxD p {
    margin-top: 15%;
}

#boxE {
    width: 180px;
    height: 100px;
    clear: left;
    background: #1da1f2;
}

#boxE p,
h2 {
    padding-top: 6px;
}
