<!DOCTYPE html>
<html>

<head>
    <title>Twitter</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
            <%= csrf_meta_tags %>
                <% @count = Tweet.count %>
</head>

<body>
    <div id="header">
        <p>
            <a href="/">
                <%= image_tag('logo.PNG') %>
            </a>
        </p>
        <nav>
            <ul>
                <%= yield :header %>
            </ul>
        </nav>
    </div>

    <div id="container">
        <div id="wrapper">
            <div id="boxC">
                ニュース(適当)</br>
                多田野光彦爆殺
            </div>

            <div id="boxB">
                <%= yield %>
            </div>

            <div id="boxD">
                <p>あなたの名前は</p>
                <h2><strong>※ログインセッションで実装</strong></h2>
                <p2>です</p2>
            </div>

            <div id="boxE">
                <font color=#ffffff>
                    <p>あなたのツイート数</p>
                </font>
                <font color=#ffffff>
                    <h2><strong><%= @count %></strong></h2>
                </font>
            </div>

        </div>
    </div>

</body>

</html>
